.card.card-shadow
    .card-header.text-left(style='background-color: #ee9f26;')
      h3(style='color: rgb(247,248,248);') SCHOOL
    .container-body(style='padding:30px;')
      .row
        .col
          // Start: card-slider
          #carousel-1.carousel.slide(data-ride='carousel')
            .carousel-inner(role='listbox')
              .carousel-item.active
                .row
                  // Start: card-1
                  - var i=0
                  for data in school
                    - i=i+1
                    if i == 1
                      .col-sm-6.col-md-4.col-lg-3.col-xl-3.offset-xl-0
                        .sl-card
                          img.img-fluid(src=data.IMAGE)
                          .sl-content
                            p
                              strong=data.FULL_NAME 
                            p 
                              strong COURSES NAME : 
                              span=data.COURSES
                            P
                              strong FEE: 
                              span=data.FEE.REG
                              span
                                | , 
                              span=data.FEE.DETAIL_FEE
                            p
                              strong PLACE: 
                              span=data.LOCATION.PLACE
                            p
                              strong COUNTRY: 
                              span=data.LOCATION.COUNTRY
                            p
                              strong STATE: 
                              span=data.LOCATION.STATE
                          .row
                            .col-6.col-sm-6.col-md-6.col-lg-6.col-xl-6.b-div
                              a.btn.btn-outline-warning.btn-block.btn-sm(role='button', href='#')
                                strong View more
                            .col-6.col-sm-6.col-md-6.col-lg-6.col-xl-6.b-div
                              a.btn.btn-outline-warning.btn-block.btn-sm(role='button', href='#')
                                strong Enroll now
                      // End: card-1
                      // Start: card-1
                    else
                      .col-sm-6.col-md-4.col-lg-3.col-xl-3.offset-xl-0
                        .sl-card
                          img.img-fluid(src=data.IMAGE)
                          .sl-content
                            p
                              strong=data.FULL_NAME 
                            p 
                              strong COURSES NAME :
                              span=data.COURSES.SHOW
                            P
                              strong FEE:
                              span=data.FEE.REG
                              span
                                | , 
                              span=data.FEE.SHOW
                            p
                              strong PLACE: 
                              span=data.LOCATION.PLACE
                            p
                              strong COUNTRY: 
                              span=data.LOCATION.COUNTRY
                            p
                              strong STATE: 
                              span=data.LOCATION.STATE
                          .row
                            .col-6.col-sm-6.col-md-6.col-lg-6.col-xl-6.b-div
                              a.btn.btn-outline-warning.btn-block.btn-sm(role='button', href='#')
                                strong View more
                            .col-6.col-sm-6.col-md-6.col-lg-6.col-xl-6.b-div
                              a.btn.btn-outline-warning.btn-block.btn-sm(role='button', href='#')
                                strong Enroll now
                      // End: card-1
                      // Start: card-1
            div
              // Start: Previous
              a.carousel-control-prev.card-slider-control(href='#carousel-1', role='button', data-slide='prev')
                i.fa.fa-chevron-circle-left
              // End: Previous
              // Start: Next
              a.carousel-control-next.card-slider-control(href='#carousel-1', role='button', data-slide='next')
                i.fa.fa-chevron-circle-right
              // End: Next
              // End: card-slider
    .card-footer(style='background-color: #f5b34f;')